body{
 /* background-color: #191927; */
   background-image: url('Images/forest_background.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}
.texto1{
  color: white;
  font-family: "Open-Sans";
  font-weigth: 400;


}
.encabecado{
      color: white;
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
   font-size: 45px;
  font-family: "Open-Sans";
  font-weigth: 400;
  width: 510px;
  height: 31 px;
 line-height: 1.1;


}
.subcabecera1 {
    width: 510px;
    height: 31px;
    color: #3B4754;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
}

.contenedores{
  display: flex;
}
.centrado{
 display: flex;
 justify-content: center;
 align-items: center;
}

.line {
    border-bottom: 1.5px solid #EEF1F5;
    margin: 5px 0;

}

.fotos {
      display: block;
      margin: 20px auto; 
}
