body{
 /* background-color: #191927; */
   background-image: url('Images/forest_background.jpg');
    background-size: cover;
}
.texto1{
  color: #798DA3;
  font-family: "Open-Sans";
  font-weigth: 400;

  font-size: 13px;

}
.encabecado{
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
   font-size: 25px;

}
